JWT_SECRET=
JWT_EXPIRES_IN_SECONDS=
DATABASE_URL="postgresql://{user}:{password}@{host}:{port}/{db_name}?schema=public"

MAIL_DRIVER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_APP_PASSWORD=

JWT_RESET_PASSWORD_SECRET=
JWT_RESET_PASSWORD_EXPIRES_IN_SECONDS=
RESET_PASSWORD_URL=MINHAURL
